*{
    padding: 0px;
    margin:0px;
    border:border-box;
}
.About_me{
background-color:rgba(255, 221, 0, 0.464);
border: 2px solid black;
width: 42%;
display: flex;
justify-content: center;
align-items: center;
}
#name{
    border: 2px solid black;
}
/* div a:hover{
 color:red;
} */
.About_me a:hover{
    color: rgb(247, 61, 61);
}
.About_me:hover{
    background-color:black;
    color:white;
}