 #one{
    text-align:center;
    font-weight:bold;
    font-style:italic;
    margin-top:0px;
    margin-bottom:0px;
    background-color:bisque;
}
#two{
   text-align:center;
    padding-right:10px;
     font-style:italic;
     margin-top:5px;
     margin-bottom:5px;
     background-color:antiquewhite;
}
 .table-container {
  display: flex;
  gap: 0px;
  justify-content:right;
  flex-wrap: wrap; 
}
#div2{
    background-color:bisque;
    padding-top:0px;
}
div{
    background-color:rgb(236, 217, 17);
}

